<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
	
    <servlet>
        <servlet-name>CourseChangeServlet</servlet-name>
        <servlet-class>GradeManage.CourseChangeServlet</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>CourseChangeServlet</servlet-name>
        <url-pattern>/course/change</url-pattern>
    </servlet-mapping>
	<servlet>
	    
	    <servlet-name>BindSid</servlet-name>
	    <servlet-class>ServletPackage.BindSid</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>BindSid</servlet-name>
	    <url-pattern>/bindsid</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>GradeServlet</servlet-name>
	    <servlet-class>GradeManage.GradeServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>GradeServlet</servlet-name>
	    <url-pattern>/choicecourse</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>UploadServlet</servlet-name>
	    <servlet-class>UPload.UploadServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>UploadServlet</servlet-name>
	   	<url-pattern>/uploadservlet</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>MsgServlet</servlet-name>
	    <servlet-class>MessageServlet.MsgServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>
	    	MsgServlet
	    </servlet-name>
	    <url-pattern>/msg</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>LogServlet</servlet-name>
	    <servlet-class>ServletPackage.LogServlet</servlet-class>
	</servlet>
	<servlet-mapping>
	    <servlet-name>LogServlet</servlet-name>
	    <url-pattern>/loginservlet</url-pattern>
	</servlet-mapping>
	<servlet>
	    <servlet-name>RegisterServlet</servlet-name>
	    <servlet-class>ServletPackage.RegisterServlet</servlet-class>
	</servlet>


	<servlet-mapping>
	    <servlet-name>RegisterServlet</servlet-name>
	    <url-pattern>/registerservlet</url-pattern>
	</servlet-mapping>

	<listener>
	    <listener-class>Listener.loginListener</listener-class>
	</listener>
	<filter>
	    <filter-name>EncodeFilter</filter-name>
	    <filter-class>Filter.EncodeFilter</filter-class>
	    <init-param>
	        <param-name>ccode</param-name>
	        <param-value>utf-8</param-value>
	    </init-param>
	</filter>
<!--  	<filter-mapping>
	    <filter-name>EncodeFilter</filter-name>
	    <url-pattern>/*</url-pattern>
	</filter-mapping>
	<filter>
	    <filter-name>RightFilter</filter-name>
	    <filter-class>Filter.RightFilter</filter-class>
	</filter>
	<filter-mapping>
	    <filter-name>RightFilter</filter-name>
	    <url-pattern>/index.jsp</url-pattern>
	</filter-mapping>-->
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
</web-app>
